<h3>{{burger_name}}</h3>
<button class="delBurger btn btn-danger" data-id="{{id}}" data-devoured="{{devoured}}">All Done!</button>
<button class="orderAgain btn btn-warning" data-id="{{id}}" data-devoured="{{devoured}}">Burger Me Again!</button>